.about-me__image {
    align-self: center;
    height: 140px;
    width: 140px;
    margin: 0 0 40px 0;
}

.about-me__hi {
    font-size: 26px;
    font-weight: 600;
    align-self: center;
}

.about-me__resume-link {
    margin: 24px 0 10px 0;
    align-self: center;
}

.about-me__work-experience {
    align-self: center;
    font-size: 15px;
    font-weight: 300;
    color: var(--text-color-secondary);
}

.about-me__title {
    font-weight: 700;
    font-size: 20px;
    margin: 40px 0 0 0;
}

.about-me__text-block {
    font-size: 18px;
    font-weight: 400;
    color: var(--text-color-secondary);
    line-height: var(--line-height-l);
    margin: 0;
    padding: 0 0 16px 0;
    text-align: left;
}