.card {
    display: flex;
    flex-direction: row;
    gap: 42px;
    width: 100%;
    text-decoration: none !important;
    /*border: solid 1px red;*/
}

.card:hover {
    transform: scale(1.014);
}

.card__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    /*border: solid 1px red;*/
}

        .card__title {
            font-size: 28px;
            font-weight: 700;
            color: var(--text-color);
            margin: 0;
            padding: 0 0 8px 0;
            line-height: var(--line-height-s);
            text-align: left;

            /* max rows: 3 */
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;

            /*border: solid 1px red;*/
        }

        .card__subtitle {
            font-size: 16px;
            font-weight: 400;
            color: var(--text-color-secondary);
            line-height: var(--line-height-l);
            margin: 0;

            /* max rows: 3 */
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;

            /*border: solid 1px red;*/
        }

        .card__meta {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-top: auto;
            padding: 10px 0 0 0;
            /*border: solid 1px red;*/
        }

            .card__meta-left {
                display: flex;
                flex-direction: row;
                gap: 20px;
                color: var(--text-color-secondary);
                font-size: 16px;
                font-weight: 400;
                /*border: solid 1px red;*/
            }
                .card__meta-left .icon-margin-right {
                    margin: 0 4px 0 0;
                }


            .card__date {
                font-size: 16px;
                font-weight: 400;
                color: var(--text-color-secondary);
                /*border: solid 1px red;*/
            }


    .card__image {
        flex-shrink: 0;
        width: 33%;
        height: 160px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 12px;
        /*border: solid 1px red;*/
    }


/* ----------------------------------------------------------- */
/* ------------------------ RESPONSIVE ----------------------- */
/* ----------------------------------------------------------- */
@media (max-width: 570px) {
    .card {
        gap: 24px;
        flex-direction: column-reverse;
    }

    .card__image {
        width: 100%;
        height: 240px;
    }
}


@media (max-width: 1024px) {

}
