.card {
    display: flex;
    flex-direction: row;
    gap: 42px;
    width: 100%;
    text-decoration: none !important;
    /*border: solid 1px red;*/

}

    .card:hover {
        transform: scale(1.014);
    }

    .card-text-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        /*border: solid 1px red;*/

    }

        .card-title {
            font-size: 28px;
            font-weight: 700;
            color: var(--text-color);
            margin: 0;
            line-height: 1.3;
            text-align: left;

            /* max rows: 3 */
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;

            /*border: solid 1px red;*/

        }

        .card-subtitle {
            font-size: 16px;
            font-weight: 400;
            color: var(--text-color-secondary);
            line-height: 1.5;
            margin: 0;

            /* max rows: 3 */
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;

            /*border: solid 1px red;*/
        }

        .card-meta {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-top: auto;
            padding: 10px 0 0 0;
            /*border: solid 1px red;*/
        }

            .card-meta-block-left {
                display: flex;
                flex-direction: row;
                gap: 20px;
                color: var(--text-color-secondary);
                font-size: 13px;
                font-weight: 400;
                /*border: solid 1px red;*/
            }
                .card-meta-block-left .icon-margin-right {
                    margin: 0 4px 0 0;
                }


            .card-date {
                font-size: 13px;
                font-weight: 400;
                color: var(--text-color-secondary);
                /*border: solid 1px red;*/

            }


    .card-image {
        flex-shrink: 0;
        width: 33%;
        height: 160px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 12px;
        /*border: solid 1px red;*/

    }


/* ----------------------------------------------------------- */
/* ------------------------ RESPONSIVE ----------------------- */
/* ----------------------------------------------------------- */
@media (max-width: 570px) {
    .card {
        gap: 24px;
        flex-direction: column-reverse;
    }

    .card-image {
        width: 100%;
        height: 240px;
    }
}


@media (max-width: 1024px) {

}
