.comments__title {
    font-size: 25px;
    font-weight: 800;
    margin: 0;
    padding: 0;
    /*border: solid 1px red;*/
}

.comment-form {
    padding: 60px 0;
    /*border: solid 1px red;*/
}
    .comment-form__textarea {
        width: 100%;
        padding: 12px;
        border: var(--input-border);
        border-radius: var(--button-border-radius);
        font-family: var(--roboto-font);
        font-size: 16px;
        resize: vertical;
        margin: 10px 0;
    }

    .comment-form__username {
        /*border: solid 1px red;*/
    }

    .comment-form__submit {
        margin: 0 0 0 auto;
        display: block;
    }

    .comment-form__login-prompt {
        font-size: 20px;
        text-align: center;
        /*border: solid 1px red;*/
    }


.comment {
    display: flex;
    flex-direction: column;
    /*border: solid 1px red;*/
}
    .comment__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 0 4px 0;
        /*border: solid 1px red;*/
    }

    .comment__timestamp-row {
        font-size: 16px;
        font-weight: 300;
        color: var(--text-color-secondary);
        /*border: solid 1px red;*/
    }

    .comment__content {
        /*padding: 10px 0;*/
        /*border: solid 1px red;*/
    }
