/* Form Styles */
form {
    width: 100%;
    margin: 0;
    padding: 0;
}

    form > div {
        margin: 0 0 24px 0;
        padding: 0;
    }

/* Form Input Fields */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 12px 16px;
    font-family: var(--roboto-font);
    color: var(--text-color);
    background-color: transparent;
    border: var(--input-border);
    border-radius: var(--button-border-radius);
}
    /* Input Focus State */
    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus,
    input[type="number"]:focus,
    textarea:focus,
    select:focus {
        outline: none;
        border: var(--input-border-focus);
    }

/* Form Labels */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: var(--text-color);
}

.form__footer-text {
    margin: 24px 0 0 0;
}

/* Submit Button */
.form__submit {
    margin: 20px 0 0 0;
    width: 100%;
}

.form__title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 30px;
}

/* Delete Account */
.delete__title {
    font-size: 26px;
    font-weight: 600;
    margin: 56px 0 0 0;
    color: var(--text-color);
}
.delete__warning {
    font-size: 16px;
    margin: 20px;
    color: var(--text-color-secondary);
}

.delete-btn {
    background-color: #dc3545;
    width: 100%;
    margin-bottom: 20px;
}

.delete-btn:hover {
    background-color: #c82333;
}

/* Error Messages near with input field */
.errorlist {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 10px 14px;
    margin: 10px 0;
    background-color: rgba(220, 53, 69, 0.1);
    border-radius: var(--button-border-radius);
    color: #dc3545;
}


/* Success/Info Messages */
.messages {
    margin: 0 auto;
    padding: 0;
}

    .messages__item {
        padding: 12px 16px;
        margin-bottom: 32px;
        border-radius: var(--button-border-radius);
    }

    .messages__item--success {
        background-color: rgba(40, 167, 69, 0.1);
        color: #28a745;
    }

    .messages__item--error {
        background-color: rgba(220, 53, 69, 0.1);
        color: #dc3545;
    }

    .messages__item--warning {
        background-color: rgba(255, 193, 7, 0.1);
        color: #f0ad4e;
    }

    .messages__item--info {
        background-color: rgba(23, 162, 184, 0.1);
        color: #17a2b8;
    }

    .messages__link {
        color: inherit;
        text-decoration: underline;
    }
