.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
    /*border: solid 1px red;*/
}

    .navbar a {
        color: var(--text-color) !important;
        text-decoration: none !important;
        /*border: solid 1px red;*/
    }

    .navbar-logo {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 10px;
    }

        .navbar-logo img {
            width: 48px;
            height: 48px;

        }

        .navbar-logo div {
            font-size: 170%;
            font-weight: 600;
        }

    .nav-item {
        color: var(--text-color) !important;
        text-decoration: none !important;
        font-size: 110%;
        background-color: transparent;
        /*border: solid 1px red;*/
    }

    .nav-item:hover {
        color: var(--text-color) !important;
        text-decoration: none !important;
        background-color: var(--button-nav-hover-bg-color);
    }

    .nav-item:active {
        color: var(--text-color) !important;
        text-decoration: none !important;
    }

    .nav-item.active {
        background-color: var(--button-nav-hover-bg-color) !important;
    }


    .navbar-burger {
        height: 36px;
        width: 36px;
        line-height: 33px;
        font-size: 28px;
        padding: 0;
        margin: 0;
        border-radius: 12px;
        font-weight: 400;
    }

    .navbar-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        gap: 10px;
        /*border: solid 1px red;*/
    }

        .navbar-menu-visible {
            display: flex !important;
        }

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: var(--content-padding);
    align-items: center;
    /*border: solid 1px red;*/
}

    .content .content-form {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        min-width: var(--content-form-min-width);
        max-width: var(--content-form-max-width);

        padding: 0;
        margin: 0;
        /*border: solid 1px red;*/
    }


    .content .content-post-list {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        min-width: var(--content-post-list-min-width);
        max-width: var(--content-post-list-max-width);

        padding: 0;
        margin: 0;
        /*border: solid 1px red;*/
    }

    .content .content-post-retrieve {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        min-width: var(--content-post-retrieve-min-width);
        max-width: var(--content-post-retrieve-max-width);

        padding: 0;
        margin: 0;
        /*border: solid 1px red;*/
    }



.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 100px 0 10px 0;
    /*border: solid 1px red;*/
}

        .footer-social {
            display: flex;
            flex-direction: row;
            gap: 26px;

            flex-wrap: nowrap;
            padding: 0 0 20px 0;
            margin: 0;
        }

            .footer-social img {
                display: block;
                height: 34px;
            }

        .footer-copyright {
            margin: 0;
            padding: 0 0 20px 0;
            color: var(--text-color-secondary);
        }
