/* ----------------------------------------------------------- */
/* ------------------------- NAVBAR -------------------------- */
/* ----------------------------------------------------------- */
.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
    /*border: solid 1px red;*/
}

    .navbar__link {
        color: var(--text-color) !important;
        text-decoration: none !important;
        /*border: solid 1px red;*/
    }

    .navbar__logo {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 10px;
        text-decoration: none !important;
        color: var(--text-color) !important;
    }

        .navbar__logo-image {
            width: 48px;
            height: 48px;

        }

        .navbar__logo-text {
            font-size: 31px;
            font-weight: 600;
        }

    .navbar__item {
        color: var(--text-color) !important;
        text-decoration: none !important;
        font-size: 18px;
        background-color: transparent;
        /*border: solid 1px red;*/
    }

    .navbar__item:hover {
        color: var(--text-color) !important;
        text-decoration: none !important;
        background-color: var(--button-nav-hover-bg-color);
    }

    .navbar__item:active {
        color: var(--text-color) !important;
        text-decoration: none !important;
    }

    .navbar__item--active {
        background-color: var(--button-nav-hover-bg-color) !important;
    }


    .navbar__burger {
        height: 36px;
        width: 36px;
        line-height: 33px;
        font-size: 28px;
        padding: 0;
        margin: 0;
        border-radius: 12px;
        font-weight: 400;
    }

    .navbar__menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        gap: 10px;
        /*border: solid 1px red;*/
    }

        .navbar__menu--visible {
            display: flex !important;
        }

/* ----------------------------------------------------------- */
/* ------------------------- CONTENT ------------------------- */
/* ----------------------------------------------------------- */
.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 40px 80px 0 80px;
    align-items: center;
    /*border: solid 1px red;*/
}

    .container__form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-width: 200px;
        max-width: 400px;
        padding: 0;
        margin: 0;
        /*border: solid 1px red;*/
    }

    .container__card-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
        min-width: 300px;
        max-width: 680px;
        padding: 0;
        margin: 0;
        /*border: solid 1px red;*/
    }

    .container__post {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-width: 300px;
        max-width: 680px;
        padding: 0;
        margin: 0;
        /*border: solid 1px red;*/
    }

    .container__comments-section {
        display: flex;
        flex-direction: column;
        /*align-items: center;*/
        width: 100%;
        min-width: 300px;
        max-width: 680px;
        padding: 60px 0 0 0;
        margin: 0;
        /*border: solid 1px red;*/
    }

    .container__about-me {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
        min-width: 300px;
        max-width: 680px;
        padding: 0;
        margin: 0;
        /*border: solid 1px red;*/
    }

    .container--user-profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-width: 300px;
        max-width: 680px;
        gap: 12px;
        padding: 0;
        margin: 0;
        /*border: solid 1px red;*/
    }

    .container--user-profile-update {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-width: 300px;
        max-width: 680px;
        gap: 12px;
        padding: 0;
        margin: 0;
        /*border: solid 1px red;*/
    }


/* ----------------------------------------------------------- */
/* ------------------------- FOOTER -------------------------- */
/* ----------------------------------------------------------- */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 100px 0 10px 0;
    /*border: solid 1px red;*/
}

        .footer__social {
            display: flex;
            flex-direction: row;
            gap: 26px;
            flex-wrap: nowrap;
            padding: 0 0 20px 0;
            margin: 0;
        }

            .footer__social-icon {
                display: block;
                height: 34px;
            }

        .footer__copyright {
            margin: 0;
            padding: 0 0 20px 0;
            color: var(--text-color-secondary);
        }


/* ----------------------------------------------------------- */
/* ------------------------ RESPONSIVE ----------------------- */
/* ----------------------------------------------------------- */
@media (max-width: 1024px) {
    .container {
        padding : 40px 60px 0 60px;
    }
}


@media (max-width: 570px) {
    .container {
        padding : 40px 20px 0 20px;
    }
}