.navbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
}

    .navbar a {
        color: var(--text-color) !important;
        text-decoration: none !important;
        font-size: 110%;
        background-color: var(--button-nav-bg-color);
    }

    .navbar a:hover {
        color: var(--text-color) !important;
        text-decoration: none !important;
        background-color: var(--button-nav-hover-bg-color);
    }

    .navbar a:active {
        color: var(--text-color) !important;
        text-decoration: none !important;
    }

    .active {
        font-weight: 700 !important;
        background-color: var(--button-nav-hover-bg-color) !important;
    }

    .navbar-logo {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 10px;
    }

        .navbar-logo img {
            width: 48px;
            height: 48px;

        }

        .navbar-logo div {
            text-decoration: none;
            font-size: 170%;
            font-weight: 600;
        }

    .navbar-burger {
        font-size: 22px;
        padding: 9px 11px;
    }

    .navbar-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        gap: 10px;
    }

        .navbar-menu-visible {
            display: flex !important;
        }



.container {
    flex: 1;
    margin: 0 auto;
    padding: 30px 20px 0 20px; /* Top Right Bottom Left */
    width: 100%;
    justify-content: center;
    align-items: center;
    max-width: var(--content-width-normal);
    box-sizing: border-box;
}

    .container.container-width-max {
        max-width: var(--content-width-max);
    }

    .container.container-width-small {
        max-width: var(--content-width-small);
    }

    .container.container-width-full {
        max-width: 100%;
    }

    .container.container-width-form {
        max-width: var(--form-width);
    }


.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 40px 0 0 0;
}

        .footer-social {
            display: flex;
            flex-direction: row;
            gap: 20px;

            flex-wrap: nowrap;
            padding: 0 0 14px 0;
            margin: 0;
        }

            .footer-social img {
                display: block;
                height: 34px;
            }

        .footer-copyright {
            margin: 0;
            padding: 0 0 20px 0;
            color: var(--text-color-secondary);
        }
