.post-title {
    font-size: 280%;
    font-weight: 900;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    line-height: var(--line-height-s);
}

.post-cover-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 0 40px 0;
    border-radius: 12px;
}

.post-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 30px 0;
    padding: 10px 10px;
    color: var(--text-color-secondary);
    border: solid 1px var(--devider-color);
    font-size: 90%;
    border-left: none;
    border-right: none;
}

    .block-left {
        display: flex;
        flex-direction: row;
        gap: 30px;
        align-items: center;
        /*border: solid 1px red;*/
    }

        .like {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            /*border: solid 1px red;*/
        }

            .like a {
                color: var(--text-color-secondary);
                text-decoration: none;
                cursor: pointer;
            }

            .like a:hover {
                color: var(--text-color-secondary);
                text-decoration: none;
                transform: scale(1.1);

            }
            .like a:active {
                color: var(--text-color-secondary) !important;
            }

.post-content {
    line-height: var(--line-height-xl);
}

/* ----------------------------------------------------------- */
/* ------------------------ RESPONSIVE ----------------------- */
/* ----------------------------------------------------------- */
@media (max-width: 1024px) {

}

@media (max-width: 570px) {
    .block-left {
        gap: 20px;
    }
}
