:root {
    /* Font Families */
    --roboto-font: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --roboto-condensed-font: "Roboto Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --roboto-semi-condensed-font: "Roboto Semi-Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;

    /* Content Widths */
    /*--content-width-max: 1400px;*/
    /*--content-width-normal: 1000px;*/
    /*--content-width-small: 800px;*/

    /* Content */
    --content-padding : 20px 80px 0 80px;
    --content-form-min-width: 200px;
    --content-form-max-width: 400px;

    --content-post-list-min-width: 10px;
    --content-post-list-max-width: 680px;

    --content-post-retrieve-min-width: 10px;
    --content-post-retrieve-max-width: 680px;

    /* Card */
    --cards-group-gap: 60px;
    --card-border-radius: 32px;
    --card-title-subtitle-border-radius: 20px;
    --card-content-padding: 40px 40px 60px 40px;

    --card-title-font-size: 200%;
    --card-title-font-weight: 600;
    --card-title-color: #F5F5F5;
    --card-title-bg-color: rgba(0, 0, 0, 0.8);
    --card-title-padding: 12px 20px;
    --card-title-margin: 10px 0 0 0;

    --card-subtitle-font-size: 100%;
    --card-subtitle-font-weight: 300;
    --card-subtitle-color: #F5F5F5;
    --card-subtitle-bg-color: rgba(0, 0, 0, 0.8);
    --card-subtitle-padding: 12px 20px;
    --card-subtitle-margin: 10px 0 0 0;

    /* Post */
    --post-title-font-size: 280%;
    --post-title-font-weight: 900;

    /* Button Styles */
    --button-color: #FFFFFF;
    --button-bg-color: #4A5DF9;
    --button-border: 0px;
    --button-border-radius: 14px;
    --button-hover-color: #FFFFFF;
    --button-hover-bg-color: #4150F7;
    --button-hover-border: 0px;

}

/* Box Sizing */
*, *::before, *::after {
    box-sizing: inherit;
}

html, html[theme="light"] {
    box-sizing: border-box;
    scrollbar-gutter: stable;

    --bg-color: #ffffff;
    --text-color: #0C1014;
    --text-color-secondary: #6A717A;

    /* Cards (Post previews) */
    --card-shadow: 10px 15px 40px rgba(83, 91, 110, 0.11);

    /* Post */
    --post-info-border: solid 1px #F2F2F2;

    /* Links */
    --link-color: #4150F7;
    --link-hover-color-my: #4150F7;
    --visited-link-color: #4150F7;
    --link-active-color: #8F93D6;

    /* Navigation Button */
    --button-nav-color: #0C1014;
    --button-nav-bg-color: transparent;
    --button-nav-hover-color: #0C1014;
    --button-nav-hover-bg-color: #F3F3F3;

    /* Select */
    --input-border: solid 1px #DBDFE4;
    --input-border-focus: solid 1px #0C1014;
}

html[theme="dark"] {
    scrollbar-gutter: stable;

    --bg-color: #0C1014;
    --text-color: #F5F5F5;
    --text-color-secondary: #A7A7A7;

    /* Cards (Post previews) */
    --card-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
    --card-bg-color: #212328;

    /* Post */
    --post-info-border: solid 1px #262626;

    /* Links */
    --link-color: #708DFF;
    --link-hover-color-my: #708DFF;
    --visited-link-color: #708DFF;
    --link-active-color: #586689;

    /* Navigation Button */
    --button-nav-color: #F5F5F5;
    --button-nav-bg-color: transparent;
    --button-nav-hover-color: #F5F5F5;
    --button-nav-hover-bg-color: #25282C;

    /* Select */
    --input-border: solid 1px #2B3036;
    --input-border-focus: solid 1px #F8F9F9;
}


body {
    margin: 0;
    padding: 0;
    font-family: var(--roboto-font);
    font-size: 16px;
    line-height: 1.42;
    color: var(--text-color);
    background-color: var(--bg-color);
    text-rendering: optimizeSpeed;
    transition: 0.5s ease-out;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.01rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

    @media (max-width: 1024px) {
        :root {
            --content-padding : 20px 60px 0 60px;

            --cards-group-gap: 40px;
            --card-title-font-size: 160%;
            --card-content-padding: 10px 10px 40px 10px;
        }
        body {
            font-size: 14px;
        }
    }

    @media (max-width: 570px) {
        :root {
            --content-padding : 20px 20px 0 20px;

            --cards-group-gap: 30px;
            --card-title-font-size: 140%;
            --card-content-padding: 10px 10px 40px 10px;

        }

        body {
            font-size: 13px;
        }
    }
