{% if comments %}

    {% for comment in comments %}

        <div class="comment">

            <div class="comment__header">
                <div>{{ comment.author.get_display_name }}</div>

                {% if user.is_authenticated and user == comment.author and not comment.author.is_deleted %}
                    <div style="display: table">

                        <form id="del-{{ comment.id }}" method="post" action="{% url 'delete_comment' comment.id %}">
                            {% csrf_token %}
                            <a href="#" onclick="if (confirm('Are you sure?')) document.getElementById('del-{{ comment.id }}').submit(); return false;">
                                <i class="fa-solid fa-xmark" style="color: var(--text-color-secondary);"></i>
                            </a>
                        </form>
                    </div>
                {% endif %}

            </div>

            <div class="comment__timestamp-row comment-timestamp" data-timestamp="{{ comment.created_at|date:'c' }}"></div>

            <div class="comment__content">{{ comment.text|linebreaks }}</div>

            {% include "posts/divider.html" %}
        </div>
    {% endfor %}

{% else %}
    <p style="color: var(--text-color-secondary);">No comments yet. Be the first to comment!</p>
{% endif %}
