<div class="container-comment-form">
    {% if user.is_authenticated %}
        <div class="comment-form-user-name">
            <i class="fa-regular fa-user" style="margin-right: 0.2rem; vertical-align: top;"></i>
            {{ user.username }}
        </div>

        <form method="post" action="{% url 'add_comment' post.id %}">
            {% csrf_token %}

            <textarea
                name="text"
                rows="4"
                placeholder="Write your comment..."
                required
                class="comment-form-textarea"
                aria-label="Comment"
            ></textarea>

            <button type="submit" class="button btn-comment">
                Post Comment
            </button>
        </form>

    {% else %}
        <div class="log-in-to-comment">
            <a href="{% url 'login' %}?next={{ request.path }}">Log in</a> to leave a comment
        </div>
    {% endif %}
</div>
