# Django Settings
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=your-secret-key-here
DJANGO_ALLOWED_HOSTS=0.0.0.0,127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000,http://0.0.0.0:8000

# Database Settings
PGDATA=/var/lib/postgresql/data
POSTGRES_DB=mykyta_db
POSTGRES_USER=mykyta_admin
POSTGRES_PASSWORD=your-postgres-password
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

# Sentry Configuration
SENTRY_DSN=https://your-sentry-dsn@o123456.ingest.sentry.io/7654321
SENTRY_ENVIRONMENT=development
SENTRY_TRACES_SAMPLE_RATE=0.1
SENTRY_PROFILES_SAMPLE_RATE=0.1
SENTRY_SEND_DEFAULT_PII=False