# Django Settings
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=your-secret-key-here
DJANGO_ALLOWED_HOSTS=0.0.0.0,127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000,http://0.0.0.0:8000

# Database Settings
PGDATA=/var/lib/postgresql/data
POSTGRES_DB=mykyta_db
POSTGRES_USER=mykyta_admin
POSTGRES_PASSWORD=your-postgres-password
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

# Google Allauth Settings
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_SECRET=your-google-secret

# reCAPTCHA v2 Settings
RECAPTCHA_PUBLIC_KEY=your-recaptcha-public-key-here
RECAPTCHA_PRIVATE_KEY=your-recaptcha-private-key-here

# Email Settings (Mailgun)
MAILGUN_API_KEY=your-mailgun-api-key-here
MAILGUN_DOMAIN=your-mailgun-domain.mailgun.org
MAILGUN_API_URL=https://api.mailgun.net/v3
DEFAULT_FROM_EMAIL=noreply@yourdomain.com
SERVER_EMAIL=noreply@yourdomain.com

# Sentry Configuration
SENTRY_DSN=https://your-sentry-dsn@o123456.ingest.sentry.io/7654321
SENTRY_ENVIRONMENT=development
SENTRY_TRACES_SAMPLE_RATE=0.1
SENTRY_PROFILES_SAMPLE_RATE=0.1
SENTRY_SEND_DEFAULT_PII=False