{% extends "layout.html" %}
{% load static %}


{% block content %}
    <div class="container">

        {# Display messages #}
        {% if messages %}
            {% include "includes/message_form.html" %}
        {% endif %}

        <div class="container__about-me">

            <div style="padding: 0 0 10px 0">
                Hi, my name is Mykyta, and I’m a Python Developer.
            </div>

            <div style="padding: 0 0 30px 0">
                I love engineering stuff, and programming is the perfect tool for me to do so. In the physical space, I have fun messing around with Fusion 360 and 3D Printing.
            </div>

            <div style="padding: 0 0 10px 0">
                <b>Locations:</b>
            </div>
            <div style="padding: 0 0 10px 0">
                🇺🇸  USA, FL <span style="font-weight: 300">(2024–Present)</span>
            </div>
            <div style="padding: 0 0 10px 0">
                🇵🇹  Portugal <span style="font-weight: 300">(2017–2024)</span>
            </div>
            <div style="padding: 0 0 40px 0">
                🇺🇦  Ukraine <span style="font-weight: 300">(Until 2017)</span>
            </div>

            <div style="align-self: center">
                <a href="https://flowcv.com/resume/2ij133mut7p8" class="button">
                    Resume
                </a>
            </div>




        </div>

    </div>

{% endblock %}
