{% extends "layout.html" %}
{% load static %}


{% block content %}
    <div class="container">

        <div class="container__about-me">

        {# Display messages #}
        {% if messages %}
            {% include "includes/message_form.html" %}
        {% endif %}

        <div>
            This is me, Mykyta!
        </div>

        <div>
            <a href="https://flowcv.com/resume/2ij133mut7p8" class="button">
                Resume
            </a>
        </div>

    </div>

{% endblock %}
