{% extends "layout.html" %}
{% load static %}

{% block title %} - About{% endblock %}

{% block content %}
    <div class="container">

        {# Display messages #}
        {% if messages %}
            {% include "includes/message_form.html" %}
        {% endif %}

        <div class="container__about-me">

            <div class="about-me__hi">
                Hi, I’m Mykyta.
            </div>

            <div class="about-me__resume-link">
                <a href="https://flowcv.com/resume/2ij133mut7p8">
                    Resume
                </a>
            </div>

            {# About Me #}
            <div class="about-me__title">
                About this place
            </div>
            <div>
                <p>
                    I wanted a cozy place on the internet to share my projects, ideas, and what I’m currently working on.
                </p>
                <p>
                    As major social media platforms become increasingly enshittified and flooded with AI slop, building my own space felt like the right decision, so I did.
                </p>
                <p>
                    I’m not here to chase views or likes (though I did implement them), but I truly appreciate your comments as a much-missed form of human communication.
                </p>
            </div>

            {# About Me #}
            <div class="about-me__title">
                About me
            </div>
            <div>
                <p>
                    I’m engineer specializing in backend development.
                </p>
                <p>
                    For as long as I can remember, I’ve been passionate about tech and engineering. As a kid, I loved disassembling my toys and figuring out how they were built and designed, and I found it incredibly satisfying to understand the decisions behind their design. Back then, I was simply following my curiosity and didn’t realize I was actually doing pure reverse engineering, a powerful learning tool that taught me not only how to take my toys apart, but also how to put them back together.
                </p>
                <p>
                    These days, code is my primary tool, but my love of engineering goes far beyond programming. I also enjoy designing functional objects and 3D-printing them.
                </p>
                <p>
                    Whenever I feel I need a break from the digital world, I enjoy taking analog (film) photos. I love the idea of capturing life using only chemistry, optics, and mechanics.
                </p>
            </div>

            {# Locations #}
            <div class="about-me__title">
                Locations I've lived:
            </div>
            <div>
                <p>
                    🇺🇸  USA, FL <span style="font-weight: 300">(2024–Present)</span>
                </p>
                <p>
                    🇵🇹  Portugal <span style="font-weight: 300">(2017–2024)</span>
                </p>
                <p>
                    🇺🇦  Ukraine <span style="font-weight: 300">(Until 2017)</span>
                </p>
            </div>

        </div>

    </div>

{% endblock %}
