{% extends "layout.html" %}

{% block content %}
    <div class="content">

        {# Display messages #}
        {% if messages %}
            {% include "includes/message_form.html" %}
        {% endif %}

        <div class="content-post-retrieve">
            <article>

                {% if post.title %}
                    <div class="post-title">
                        {{ post.title }}
                    </div>
                {% endif %}

                <div class="post-info">
                    <div class="block-left">
                        {% include "posts/partials/like_button.html" %}
                        <div class="like-comment-container">
                            <div style="padding: 0 6px 0 0">
                                <i class="fa-regular fa-comment"></i>
                            </div>
                            <div>
                                0
                            </div>
                        </div>
                    </div>

                    {% if post.published_at %}
                       {{ post.published_at|date:"M j, Y" }}
                    {% else %}
                       {{ post.created_at|date:"M j, Y" }}
                    {% endif %}
                </div>

                <img class="post-cover-image" src="{{ post.cover_image }}" alt="">

                <div>
                    {{ post.text|linebreaks }}
                </div>

            </article>
        </div>

    </div>
{% endblock %}
