{% extends "layout.html" %}
{% load static %}
{% load post_filters %}


{% block content %}

    <div class="content">

        {# Display messages #}
        {% if messages %}
            {% include "includes/message_form.html" %}
        {% endif %}

        <div class="container-card-list">

            {% if posts %}
                {% for post in posts %}
                    <a href="{{ post.get_absolute_url }}" class="card">

                        <div class="card-text-block">
                            <div class="card-title">
                                {{ post.title }}
                            </div>

                            {% if post.subtitle %}
                                <div class="card-subtitle">
                                    {{ post.subtitle }}
                                </div>
                            {% endif %}

                            <div class="card-meta">

                                <div class="card-meta-block-left">
                                    <span>
                                        {% if post.user_has_liked %}
                                            <i class="fa-solid fa-heart icon-margin-right"></i>
                                        {% else %}
                                            <i class="fa-regular fa-heart icon-margin-right"></i>
                                        {% endif %}
                                        {{ post.get_like_count }}
                                    </span>
                                    <span>
                                        <i class="fa-regular fa-comment icon-margin-right"></i>
                                        {{ post.get_comment_count }}
                                    </span>
                                    <span>
                                        <i class="fa-regular fa-eye icon-margin-right"></i>
                                        {{ post.view_count|abbreviate_number }}
                                    </span>
                                </div>

                                <span class="card-date">
                                    {% if post.published_at %}
                                        {{ post.published_at|date:"M j, Y" }}
                                    {% else %}
                                        {{ post.created_at|date:"M j, Y" }}
                                    {% endif %}
                                </span>

                            </div>
                        </div>

                        {% if post.cover_image %}
                            <div class="card-image" style="background-image: url('{{ post.cover_image }}');"></div>
                        {% endif %}
                    </a>

                    {% include "posts/divider.html" %}
                {% endfor %}
            {% else %}
                <p style="margin-top: 2rem; color: var(--text-color-secondary);">No posts available yet.</p>
            {% endif %}
        </div>

    </div>

{% endblock %}
