{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div class="container__form-container">

            <div class="form__title">Login</div>

            {# Display messages #}
            {% if messages %}
                {% include "includes/message_form.html" %}
            {% endif %}

            <form method="post">
                {% csrf_token %}

                {# Display non-field errors #}
                {% if form.non_field_errors %}
                    <div class="errors">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                {# Username/Email field #}
                <div>
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {% if form.username.errors %}
                        <div class="errors">{{ form.username.errors }}</div>
                    {% endif %}
                </div>

                {# Password field #}
                <div>
                    {{ form.password.label_tag }}
                    {{ form.password }}
                    {% if form.password.errors %}
                        <div class="errors">{{ form.password.errors }}</div>
                    {% endif %}
                </div>

                <button type="submit" class="button form__submit">
                    Login
                </button>
            </form>

            <div class="form__footer-text">
                Forgot your password? <a href="{% url 'password_reset_request' %}">Reset it</a>
            </div>

            <div class="form__footer-text">
                Don't have an account? <a href="{% url 'register' %}">Register</a>
            </div>
        </div>

    </div>
{% endblock %}
