{% extends "layout.html" %}

{% block content %}
    <div class="container container-width-form">

        <h2>
            Reset Password
        </h2>

        {# Display messages #}
        {% if messages %}
            {% include "includes/message_form.html" %}
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="button btn-form">
                Send Reset Link
            </button>
        </form>

        <div class="text-align-center form-bottom-text">
            Remember your password? <a href="{% url 'login' %}">Log in</a>
        </div>

    </div>
{% endblock %}
