{% extends "layout.html" %}

{% block content %}
    <div class="content">
        <div class="content__form-container">

            <div class="form__title">Change Password</div>

            {# Display messages #}
            {% if messages %}
                {% include "includes/message_form.html" %}
            {% endif %}

            <form method="post">
                {% csrf_token %}

                {# Display non-field errors #}
                {% if form.non_field_errors %}
                    <div class="errors">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                {# Old password field #}
                <div>
                    {{ form.old_password.label_tag }}
                    {{ form.old_password }}
                    {% if form.old_password.errors %}
                        <div class="errors">{{ form.old_password.errors }}</div>
                    {% endif %}
                </div>

                {# New password field #}
                <div>
                    {{ form.new_password1.label_tag }}
                    {{ form.new_password1 }}
                    {% if form.new_password1.errors %}
                        <div class="errors">{{ form.new_password1.errors }}</div>
                    {% endif %}
                </div>

                {# Confirm new password field #}
                <div>
                    {{ form.new_password2.label_tag }}
                    {{ form.new_password2 }}
                    {% if form.new_password2.errors %}
                        <div class="errors">{{ form.new_password2.errors }}</div>
                    {% endif %}
                </div>

                <button type="submit" class="button form__submit">
                    Change Password
                </button>
            </form>

            <div class="form__footer-text">
                <a href="{% url 'user_profile' %}" class="link">Cancel</a>
            </div>

        </div>
    </div>
{% endblock %}
