{% extends "layout.html" %}

{% block content %}
    <div class="content">
        <div class="content-form">

           <div class="form-title">Resend Verification Email</div>

            {# Display messages #}
            {% if messages %}
                {% include "includes/message_form.html" %}
            {% endif %}

            <form method="post">
                {% csrf_token %}

                {# Display non-field errors #}
                {% if form.non_field_errors %}
                    <div class="errors">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                {# Email field #}
                <div>
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    {% if form.email.errors %}
                        <div class="errors">{{ form.email.errors }}</div>
                    {% endif %}
                </div>

                <button type="submit" class="button btn-form">
                    Send Verification Email
                </button>
            </form>

            <div class="form-bottom-text">
                Already verified? <a href="{% url 'login' %}" class="link">Log in</a>
            </div>

        </div>
    </div>
{% endblock %}
