{% extends "layout.html" %}

{% block content %}
    <div class="container">

        {% if messages %}
            {% include "includes/message_form.html" %}
        {% endif %}

        <div class="container--user-profile">
            <div>
                <b>Username:</b> <span style="font-weight: 300">{{ user.username }}</span>
            </div>
            <div>
                <b>Email:</b> <span style="font-weight: 300">{{ user.email }}</span>
            </div>
            <div style="padding: 18px 0 0 0">
                <a href="{% url 'password_change' %}">Change Password</a>
            </div>
            <div>
                <a href="{% url 'user_update' %}">Edit Profile</a>
            </div>
        </div>
    </div>
{% endblock %}
