{% load static %}

<div class="navbar">
    <a href="{% url 'post_list' %}" class="navbar-logo" style="background-color: transparent">
        <img src="{% static 'images/m.png' %}" alt="" class="navbar-logo-image">
        <div>Mykyta</div>
    </a>

    <div class="button navbar-burger show-on-iphone"
         onclick="return document.getElementById('navbar-menu').classList.toggle('navbar-menu-visible');"
    >
        ≡
    </div>

    <div class="navbar-menu hide-on-iphone" id="navbar-menu">
        {% with request.resolver_match.url_name as url_name %}

        <a class="button {% if url_name == 'post_list' %}active{% endif %}" href="{% url 'post_list' %}">
            <span>Posts</span>
        </a>

        <a class="button {% if url_name == 'about_me' %}active{% endif %}" href="{% url 'about_me' %}">
            <span>About me</span>
        </a>

        {% if user.is_authenticated %}
            <a class="button {% if url_name == 'user_profile' or url_name == 'password_change' or url_name == 'user_update' %}active{% endif %}" href="{% url 'user_profile' %}">
                Profile
            </a>

            <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
                <button type="submit" class="button">
                    Logout
                </button>
            </form>
        {% else %}
            <a class="button {% if url_name == 'login' or url_name == 'password_reset_request' %}active{% endif %}" href="{% url 'login' %}">
                Login
            </a>
            <a class="button {% if url_name == 'register' %}active{% endif %}" href="{% url 'register' %}">
                Register
            </a>
        {% endif %}

        <label class="theme-switcher" for="theme-checkbox">
            <input type="checkbox" id="theme-checkbox"/>
            <span class="slider"></span>
        </label>

        {% endwith %}
    </div>
</div>
