{% load static %}

<div class="navbar">
    <a href="{% url 'post_list' %}">
        <img src="{% static 'images/logo_navbar.png' %}" alt="Mykyta Logo" class="navbar__logo-image">
    </a>

    <div class="show-on-iphone"
         onclick="return document.getElementById('navbar-menu').classList.toggle('navbar__menu--visible');"
    >
        <img src="{% static 'images/icons/burger.png' %}" alt="Menu" class="navbar__burger-icon">
    </div>

    <div class="navbar__menu hide-on-iphone" id="navbar-menu">
        {% with request.resolver_match.url_name as url_name %}

        <a class="button navbar__item {% if url_name == 'post_list' %}navbar__item--active{% endif %}" href="{% url 'post_list' %}">
            <span>Posts</span>
        </a>

        <a class="button navbar__item {% if url_name == 'about_me' %}navbar__item--active{% endif %}" href="{% url 'about_me' %}">
            <span>About</span>
        </a>

        {% if request.user.is_superuser %}
            <a class="button navbar__item {% if url_name == 'post_create' %}navbar__item--active{% endif %}" href="{% url 'post_create' %}">
                <span>New post</span>
            </a>

            {# LogoutView accepts POST only, because this is a form and not a link. #}
            <form method="post" action="{% url 'logout' %}" class="navbar__logout">
                {% csrf_token %}
                <button type="submit" class="button navbar__item">
                    <span>Logout</span>
                </button>
            </form>
        {% endif %}

        <label class="theme-switcher" for="theme-checkbox">
            <input type="checkbox" id="theme-checkbox" class="theme-switcher__input"/>
            <span class="theme-switcher__slider"></span>
        </label>

        {% endwith %}
    </div>
</div>
